@-webkit-keyframes remove-items {
  0% {
    opacity: 1;
    overflow: hidden;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

@keyframes remove-items {
  0% {
    opacity: 1;
    overflow: hidden;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.page-cart .section-cart-template {
  margin-bottom: var(--gutter-xlg);
}

@media (min-width: 768px) {
  .page-cart .section-cart-template {
    margin-bottom: 60px;
  }
}

.page-cart .cart-empty {
  display: none;
}

.page-cart .cart-empty p {
  font-size: 24px;
}

.page-cart .cart-empty .btn {
  max-width: 412px;
  margin: 0 auto;
}

.page-cart .cart-wrapper[data-status="0"] .cart-form {
  display: none;
}

.page-cart .cart-wrapper[data-status="0"] .cart-empty {
  display: block;
}

.page-cart .cart-btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.page-cart .cart-btn-wrapper .btn {
  padding: 14px var(--gutter-lg);
}

@media (max-width: 575px) {
  .page-cart .cart-btn-wrapper .btn {
    flex: 0 0 100%;
    width: 100%;
  }
  .page-cart .cart-btn-wrapper .btn:not(:first-child) {
    margin-top: var(--gutter-xs);
  }
}

@media (min-width: 576px) {
  .page-cart .cart-btn-wrapper .btn:not(:last-child) {
    -webkit-margin-end: var(--gutter-xxs);
    margin-inline-end: var(--gutter-xxs);
  }
}

.page-cart .cart-table {
  border-bottom: 1px solid var(--body-border-color);
  margin-bottom: var(--gutter-lg);
}

.page-cart .cart-table .cart-table_head {
  display: none;
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_head {
    display: flex;
    border-bottom: 1px solid var(--body-border-color);
  }
}

.page-cart .cart-table .cart-table_head > div {
  font-size: var(--body-font-size);
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  text-align: center;
  padding: 16px var(--gutter-xs);
}

.page-cart .cart-table .cart-table_head > div.cart-table_head-product {
  flex: 0 0 39.66666%;
  max-width: 39.66666%;
  text-align: start;
}

.page-cart .cart-table .cart-table_head > div.cart-table_head-quantity {
  flex: 0 0 18.66666%;
  max-width: 18.66666%;
}

.page-cart .cart-table .cart-table_head > div.cart-table_head-remove {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.page-cart .cart-table .cart-table_line-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.page-cart .cart-table .cart-table_line-item:not(:first-child) {
  border-top: 1px solid var(--body-border-color);
}

.page-cart .cart-table .cart-table_line-item > div {
  flex: 0 0 100%;
  max-width: 100%;
  padding: var(--gutter-sm) var(--gutter-xs);
  text-align: start;
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_line-item > div {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-cart .cart-table .cart-table_line-item > div.line-item_info {
  display: flex;
  padding-bottom: 12px;
  order: 2;
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_info {
    text-align: start;
    flex: 0 0 39.66666%;
    max-width: 39.66666%;
    padding-bottom: 24px;
  }
}

.page-cart .cart-table .cart-table_line-item > div.line-item_price {
  display: none;
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_price {
    order: 3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-top: 24px;
    -webkit-padding-start: var(--gutter-xs);
    padding-inline-start: var(--gutter-xs);
  }
}

.page-cart .cart-table .cart-table_line-item > div.line-item_quantity {
  order: 2;
  padding-top: 0;
  -webkit-padding-start: 120px;
  padding-inline-start: 120px;
}

@media (min-width: 576px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_quantity {
    -webkit-padding-start: 145px;
    padding-inline-start: 145px;
  }
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_quantity {
    order: 4;
    padding-top: 24px;
    flex: 0 0 18.66666%;
    max-width: 18.66666%;
    -webkit-padding-start: var(--gutter-xs);
    padding-inline-start: var(--gutter-xs);
  }
}

.page-cart .cart-table .cart-table_line-item > div.line-item_total-price {
  display: none;
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_total-price {
    order: 5;
    font-size: calc(var(--product-card-price-fs) - 4px);
    color: var(--price-color);
    font-weight: var(--font-body-weight);
    display: block;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

.page-cart .cart-table .cart-table_line-item > div.line-item_remove {
  order: 3;
  padding-top: 0;
  -webkit-padding-start: 120px;
  padding-inline-start: 120px;
}

@media (min-width: 576px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_remove {
    -webkit-padding-start: 145px;
    padding-inline-start: 145px;
  }
}

@media (min-width: 768px) {
  .page-cart .cart-table .cart-table_line-item > div.line-item_remove {
    order: 1;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    padding-top: 24px;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
  }
}

.page-cart .cart-table .cart-table_line-item.is-removing {
  -webkit-animation-name: remove-items;
  animation-name: remove-items;
}

.page-cart .cart-table .line-item_image {
  flex: 0 0 90px;
  -webkit-margin-end: var(--gutter-xs);
  margin-inline-end: var(--gutter-xs);
}

@media (min-width: 576px) {
  .page-cart .cart-table .line-item_image {
    flex: 0 0 116px;
  }
}

@media (min-width: 768px) {
  .page-cart .cart-table .line-item_image {
    flex: 0 0 90px;
    -webkit-margin-end: var(--gutter-sm);
    margin-inline-end: var(--gutter-sm);
  }
}

.page-cart .cart-table .line-item_wrapper {
  flex: 1;
  -webkit-margin-end: var(--gutter-xxs);
  margin-inline-end: var(--gutter-xxs);
}

@media (min-width: 768px) {
  .page-cart .cart-table .line-item_wrapper {
    -webkit-margin-end: 0;
    margin-inline-end: 0;
  }
}

.page-cart .cart-table .line-item_price-mobile {
  margin-top: var(--gutter-xxs);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .page-cart .cart-table .line-item_price-mobile {
    display: none;
  }
}

.page-cart .cart-table .line-item_title {
  margin-bottom: var(--gutter-xxs);
  font-size: calc(var(--body-font-size) + 3px);
}

.page-cart .cart-table .item-variant {
  display: block;
  margin-bottom: 3px;
  color: var(--body-color-2);
}

.page-cart .cart-table .price, .page-cart .cart-table .price-sale {
  font-size: calc(var(--product-card-price-fs) - 4px);
  font-weight: var(--font-body-weight);
  -webkit-margin-end: 7px;
  margin-inline-end: 7px;
}

.page-cart .cart-table .price {
  color: var(--price-color);
}

.page-cart .cart-table .price-sale {
  color: var(--price-sale-color);
}

.page-cart .cart-table .price-compare {
  color: var(--price-compare-color);
  font-weight: var(--font-body-weight);
  font-size: var(--product-card-price-compare-fs);
}

.page-cart .cart-table quantity-input {
  width: 105px;
  margin: 0;
}

@media (min-width: 768px) {
  .page-cart .cart-table quantity-input {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .page-cart .cart-table quantity-input {
    width: 140px;
  }
}

.page-cart .cart-table .qty-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.page-cart .cart-table .btn-remove {
  display: inline-block;
  margin: 0 auto;
  min-width: 98px;
  text-align: center;
  padding: 8px var(--gutter-xs);
  background-color: var(--btn2-bg-cl);
  border-radius: 25px;
  color: var(--btn2-cl);
  position: relative;
}

@media (min-width: 768px) {
  .page-cart .cart-table .btn-remove {
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: var(--body-color-2);
    border-radius: 0;
    background-color: transparent;
  }
}

@media (min-width: 768px) {
  .page-cart .cart-table .btn-remove .text {
    display: none;
  }
}

.page-cart .cart-table .btn-remove svg {
  color: currentColor;
  display: none;
}

@media (min-width: 768px) {
  .page-cart .cart-table .btn-remove svg {
    display: block;
  }
}

.page-cart .cart-table .btn-remove svg path {
  fill: currentColor;
}

.page-cart .cart-table .btn-remove .svg-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .page-cart .cart-table .btn-remove .svg-loading {
    position: static;
    transform: translate(0);
  }
}

.page-cart .cart-table .btn-remove .svg-loading circle {
  stroke: currentColor;
}

.page-cart .cart-table .btn-remove.pending svg {
  display: none;
}

.page-cart .cart-table .btn-remove.pending svg.svg-loading {
  display: block;
}

.page-cart .cart-table .btn-remove.pending .text {
  color: transparent;
}

@media (min-width: 1025px) {
  .page-cart .cart-table .btn-remove:hover {
    color: var(--body-link-hover);
  }
}

.page-cart .btn-continue {
  padding: 14px var(--gutter-lg);
  display: inline-block;
}

.page-cart .cart-form_wrapper {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .page-cart .cart-form_wrapper {
    margin-top: 58px;
  }
}

.page-cart .cart-right {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .page-cart .cart-right {
    flex: 0 0 50%;
    -webkit-padding-end: var(--gutter-md);
    padding-inline-end: var(--gutter-md);
  }
}

@media (min-width: 1200px) {
  .page-cart .cart-right {
    flex: 0 0 58.333333%;
  }
}

.page-cart .note-and-shipping .cart-note_title {
  margin-bottom: 17px;
}

.page-cart .note-and-shipping .cart-note_title > span:first-child {
  font-size: var(--heading-size-h5);
}

.page-cart .cart-left {
  flex: 0 0 100%;
  padding-top: var(--gutter-sm);
}

@media (min-width: 768px) {
  .page-cart .cart-left {
    padding-top: 0;
    flex: 0 0 50%;
    -webkit-padding-start: var(--gutter-md);
    padding-inline-start: var(--gutter-md);
  }
}

@media (min-width: 1200px) {
  .page-cart .cart-left {
    flex: 0 0 41.666667%;
  }
}

.page-cart .cart-shipping-calculator {
  display: none;
}

@media (min-width: 768px) {
  .page-cart .cart-shipping-calculator {
    display: block;
  }
}

.page-cart .cart-shipping-calculator .shipping-calculator_form {
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-cart .cart-shipping-calculator div.shipping-calculator_title {
  font-size: var(--heading-size-h4);
  margin-bottom: 16px;
}

.page-cart .cart-shipping-calculator .form-group {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: var(--gutter-sm);
}

@media (min-width: 1200px) {
  .page-cart .cart-shipping-calculator .form-group {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}

.page-cart .cart-shipping-calculator .form-group .select-group, .page-cart .cart-shipping-calculator .form-group input {
  width: 100%;
}

.page-cart .cart-shipping-calculator .btn {
  width: 100%;
  position: relative;
  padding: 14px var(--gutter-lg);
  margin-bottom: var(--gutter-sm);
  -webkit-margin-start: auto;
  margin-inline-start: auto;
}

@media (min-width: 1200px) {
  .page-cart .cart-shipping-calculator .btn {
    width: auto;
  }
}

.page-cart .cart-shipping-calculator .btn .svg-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.page-cart .cart-shipping-calculator .pending .btn span {
  color: transparent;
}

.page-cart .cart-shipping-calculator .pending .btn .svg-loading {
  display: block;
}

.page-cart .cart-shipping-calculator .shipping-calculator_errors {
  display: flex;
  align-items: center;
  color: #ed462f;
  margin-bottom: var(--gutter-xs);
}

.page-cart .cart-shipping-calculator .shipping-calculator_errors svg {
  flex: 0 0 10px;
  -webkit-margin-end: 5px;
  margin-inline-end: 5px;
}

.page-cart .cart-shipping-calculator .shipping-calculator_results {
  margin-bottom: var(--gutter-xs);
}

.page-cart .cart-shipping-calculator .shipping-calculator_results p {
  margin: 0 0 5px;
}

.page-cart .cart-shipping-calculator .shipping-calculator_results p:empty {
  margin: 0;
}

.page-cart .cart-shipping-calculator .shipping-calculator_results ul:not(:empty) li {
  list-style: none;
}

.page-cart .cart-shipping-calculator .shipping-calculator_results ul:not(:empty) li:not(:last-child) {
  margin-bottom: 5px;
}

.page-cart .cart-summary_label {
  margin: 0;
  font-size: var(--heading-size-h4);
}

.page-cart .cart-summary_price {
  font-size: var(--heading-size-h4);
  -webkit-margin-start: 14px;
  margin-inline-start: 14px;
}

.page-cart .cart-summary_footer .cart-summary_total {
  font-weight: var(--font-bold);
  border-bottom: 1px solid var(--body-border-color);
  margin: 0 0 16px;
  padding: 0 0 var(--gutter-xxs);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-cart .cart-summary_footer button {
  width: 100%;
  position: relative;
}

.page-cart .cart-summary_footer button .svg-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

.page-cart .cart-summary_footer button.pending span {
  color: transparent;
}

.page-cart .cart-summary_footer button.pending .svg-loading {
  display: block;
}

.page-cart .cart-summary_footer .btn-continue-action, .page-cart .other-payment {
  margin-top: var(--gutter-xs);
}

.page-cart .other-payment {
  color: var(--body-color-2);
}

.page-cart .other-payment .payment-gateways {
  margin-top: 6px;
}

.page-cart .other-payment .payment-list {
  justify-content: center;
}

.page-cart .other-payment .payment-list li {
  display: flex;
  margin: 5px;
}

.page-cart .cart-summary_coupon {
  align-items: center;
}

.page-cart .product-card:after {
  bottom: 0;
}

.page-cart .product-card .product-card_price_action {
  padding-bottom: 0;
  border-bottom: none;
}

@media (min-width: 1025px) {
  .page-cart .product-card:hover .product-card_price_action {
    border-bottom-color: transparent;
  }
}
