.section-bottom-widget h4 {
  margin-bottom: var(--gutter-lg);
  border-bottom: 1px solid var(--body-border-color);
  color: var(--section-heading-cl);
  position: relative;
  padding-bottom: var(--gutter-xs);
}

.section-bottom-widget h4:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 85px;
  height: 2px;
  background: var(--main-color);
}

.section-bottom-widget h4 a {
  color: inherit;
}

.section-bottom-widget .block-widget {
  padding-top: var(--gutter-xs);
  padding-bottom: var(--gutter-xs);
}

.section-bottom-widget .product-listing-items .product-card:last-child {
  margin-bottom: 0;
}

.section-bottom-widget .product-card {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 var(--gutter-sm);
  background: transparent;
}

.section-bottom-widget .product-card:after, .section-bottom-widget .product-card:before {
  content: none;
}

.section-bottom-widget .product-card .product-card_header {
  flex: 0 0 33.33333%;
  width: 33.33333%;
  -webkit-padding-end: var(--gutter-xxs);
  padding-inline-end: var(--gutter-xxs);
}

.section-bottom-widget .product-card .product-card_media {
  margin-bottom: 0;
}

.section-bottom-widget .product-card .product-card_body {
  flex: 0 0 66.66667%;
  width: 66.66667%;
  -webkit-padding-start: var(--gutter-xxs);
  padding-inline-start: var(--gutter-xxs);
}

.section-bottom-widget .product-card .product-price {
  font-size: calc(var(--body-font-size) + 1px);
}

.section-bottom-widget .product-card .product-price .price-sale {
  font-size: inherit;
}

.section-bottom-widget .product-card .product-price .price-compare {
  font-size: calc(var(--body-font-size) - 2px);
}
