@media (min-width: 1025px) {
  .section-logo-list .tns-ovh {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.section-logo-list .section-wrapper {
  padding: var(--gutter-xxs) 0;
  border-top: 1px solid var(--body-border-color);
  border-bottom: 1px solid var(--body-border-color);
}

.section-logo-list .section-wrapper.remove-border-section {
  padding: 0;
  border-top: 0;
  border-bottom: 0;
}

.section-logo-list .slider-list {
  align-items: center;
}

.section-logo-list .tns-nav {
  margin-top: 0;
  position: absolute;
  left: 50%;
  top: auto;
  bottom: -20px;
  transform: translate(-50%);
}

.section-logo-list .slider-controls {
  position: static;
}

.section-logo-list .slider-controls button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-logo-list .slider-controls button.slider-prev-button {
  left: -5px;
}

.section-logo-list .slider-controls button.slider-next-button {
  right: -5px;
}
